<% provide(:title, "Assignments") %>
<h1>Assignments</h1>
<p>

  <li><%= link_to 'Class Files', files_index_path %></li>
  <% if (logged_in? && current_user.admin?) %>
  	<li><%= link_to 'Upload File', new_file_path %></li>
  <% end %>       

	<div class="container">
	  <% flash.each do |key, value| %>
	    <div class="alert alert-<%= key %>">
	      <%= value %>
	    </div>
	  <% end %>

	  <%= yield %>
	</div>
</p>