<% provide(:title, 'Lesson Information') %>
<h1><%=@lesson.title%> Information</h1>
<div class="row">
  <aside class="col-md-4">
    <section class="lesson_info">
      <p>Name: <%= @lesson.title %>
      <% if (logged_in? && current_user.admin?) %>
      	| <%= link_to "Edit Lesson", edit_lesson_path() %>
      <% end %>
      </p>
      <p>Start Time: <%= @lesson.start_time %></p>
      <p>End Time: <%= @lesson.end_time %></p>
      <P>
        <%= link_to "Confirm Attendance", record_attendance_path(id: @lesson.id), class: "btn btn-lg btn-primary" %>
      </p>
    </section>
  </aside>
</div>